# Compiled class file
*.class

additional-spring-configuration-metadata.json

#Node
bundle.js
npm-debug.log
**/node_modules/
.DS_Store
/*.env

.idea

# Log file
*.log
/bin

.classpath
.project 

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/
/build/
